<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MyTemplate1</title>
  </head>
  <body>
    <tr data-v-e6f90c1f=""><td data-v-e6f90c1f="" style="background-color: rgb(255, 255, 255); text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column;"><span data-v-e6f90c1f="" class="el-tooltip__trigger" style="font-size: 16px; color: rgb(0, 0, 0); text-align: center; display: flex; line-height: 1.5em; width: auto; height: 30px; font-weight: 100; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); font-family: Helvetica; border-radius: 0px; align-items: center; justify-content: center; border-width: 0px; border-style: solid; border-color: rgb(255, 255, 255);">Hello World!</span><!--teleport start--><!--teleport end--></td></tr>
  </body>
</html>
