/**
* ============================================
* @author:syf20020816@outlook.com
* @since:20230330
* @version:1.0.0
* @type:scss
* @description:定义全局使用的变量
* ============================================
*/
$bg-color-dark:#1B212F;
$bg-color-light:#c2cce2;
$force-color:#454798;
$bg-color-dark-deep:#111621;
$bg-color-dark-weak:#111725c4